################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BST.Test/bin/Debug
/BST.Test/obj
/BST/bin/Debug/netstandard2.0
/BST/obj
